/.phpunit.cache
/storage/*.key
/node_modules
/storage/pail
/vendor
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

**/caddy
frankenphp
frankenphp-worker.php
rr
.rr.yaml
